In [37]:
import pandas as pd
import os
import string
import numpy

In [252]:
fake_jobs_pd = pd.read_csv("data_source/fake_job_postings.csv")

In [253]:
fake_jobs_pd=fake_jobs_pd.rename_axis('job_key')
fake_jobs_pd.head()

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
job_key,,,,,,,,,,,,,,,,,,
0,1,Marketing Intern,"US, NY, New York",Marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0
1,2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0
2,3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0
3,4,Account Executive - Washington DC,"US, DC, Washington",Sales,NaN,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
4,5,Bill Review Manager,"US, FL, Fort Worth",NaN,NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0

In [254]:
ci_st_co=fake_jobs_pd['location'].tolist()

print(type(ci_st_co))
cou=[]
sta=[]
cit=[]


for i in ci_st_co:
        #print(i)
    try:
        co=i.split(', ')
    
        cou.append(co[0])
        sta.append(co[1])
        cit.append(co[2])
        
    except:
        
        cou.append('')
        sta.append('')
        cit.append('')
print(len(cou))

<class 'list'>
17974

In [255]:
print(len(cou))
print(len(sta))
print(len(cit))
k=len(cou)
while k>len(cit):
    
    del cou[-1]
    k=k-1
    print(len(cou))
#print(len(cou))

17974
17880
17880
17973
17972
17971
17970
17969
17968
17967
17966
17965
17964
17963
17962
17961
17960
17959
17958
17957
17956
17955
17954
17953
17952
17951
17950
17949
17948
17947
17946
17945
17944
17943
17942
17941
17940
17939
17938
17937
17936
17935
17934
17933
17932
17931
17930
17929
17928
17927
17926
17925
17924
17923
17922
17921
17920
17919
17918
17917
17916
17915
17914
17913
17912
17911
17910
17909
17908
17907
17906
17905
17904
17903
17902
17901
17900
17899
17898
17897
17896
17895
17894
17893
17892
17891
17890
17889
17888
17887
17886
17885
17884
17883
17882
17881
17880

In [256]:
datas={'country':cou,
       'state':sta,
       'city':cit }   
uplocs=pd.DataFrame(datas)
print(len(datas['country']))
uplocs.head()

17880

  country state        city
0      US    NY    New York
1      NZ          Auckland
2      US    IA       Wever
3      US    DC  Washington
4      US    FL  Fort Worth

In [257]:


fake_job_drops=['salary_range','company_profile','benefits','telecommuting',\
               'has_company_logo','has_questions']

updated_fake_jobs_pd=fake_jobs_pd
#try:
for cols in fake_job_drops:
    updated_fake_jobs_pd=updated_fake_jobs_pd.drop(f'{cols}',1)
    #updated_fake_jobs_pd.head()
#except:
        #updated_ds_jobs_pd.head()
print(len(updated_fake_jobs_pd))
updated_fake_jobs_pd.head()

17880

,job_id,title,location,department,description,requirements,employment_type,required_experience,required_education,industry,function,fraudulent
job_key,,,,,,,,,,,,
0,1,Marketing Intern,"US, NY, New York",Marketing,"Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,Other,Internship,NaN,NaN,Marketing,0
1,2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0
2,3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,NaN,NaN,NaN,NaN,0
3,4,Account Executive - Washington DC,"US, DC, Washington",Sales,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
4,5,Bill Review Manager,"US, FL, Fort Worth",NaN,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0

In [258]:
cleanfakes=updated_fake_jobs_pd.join(uplocs)
cleanfakes.to_csv('cleaned fake jobs.csv')

In [9]:
ds_jobs_pd = pd.read_csv("data_source/data_scientist_united_states_job_postings_jobspikr.csv")

In [259]:
ds_jobs_pd=ds_jobs_pd.rename_axis('ds_key')
ds_jobs_pd.head()
#len(ds_jobs_pd['url'])

,crawl_timestamp,url,job_title,category,company_name,city,state,country,inferred_city,inferred_state,...,job_description,job_type,salary_offered,job_board,geo,cursor,contact_email,contact_phone_number,uniq_id,html_job_description
ds_key,,,,,,,,,,,,,,,,,,,,,
0,2019-02-06 05:26:22 +0000,https://www.indeed.com/viewjob?jk=fd83355c2b23...,Enterprise Data Scientist I,Accounting/Finance,Farmers Insurance Group,Woodland Hills,CA,Usa,Woodland hills,California,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549432819114777,NaN,NaN,3b6c6acfcba6135a31c83bd7ea493b18,NaN
1,2019-02-06 05:33:41 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist,NaN,Luxoft USA Inc,Middletown,NJ,Usa,Middletown,New jersey,...,We have an immediate opening for a Sharp Data ...,Undefined,NaN,dice,usa,1549432819122106,NaN,NaN,741727428839ae7ada852eebef29b0fe,NaN
2,2019-02-06 05:33:35 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist,NaN,Cincinnati Bell Technology Solutions,New York,NY,Usa,New york,New york,...,Candidates should have the following backgroun...,Full Time,NaN,dice,usa,1549432819236156,NaN,NaN,cdc9ef9a1de327ccdc19cc0d07dbbb37,NaN
3,2019-02-06 05:33:42 +0000,https://www.indeed.com/viewjob?jk=841edd86ead2...,"Data Scientist, Aladdin Wealth Tech, Associate...",Accounting/Finance,BlackRock,New York,NY 10055 (Midtown area),Usa,New york,New york,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549432819259473,NaN,NaN,1c8541cd2c2c924f9391c7d3f526f64e,NaN
4,2019-02-06 05:48:23 +0000,https://job-openings.monster.com/senior-data-s...,Senior Data Scientist,biotech,CyberCoders,Charlotte,NC,Usa,Charlotte,North carolina,...,We are seeking an extraordinary Data Scientist...,Full Time,NaN,monster,usa,1549436429015957,NaN,NaN,445652a560a5441060857853cf267470,NaN

In [260]:
drops=['crawl_timestamp','url','company_name','inferred_city','inferred_state','inferred_country',\
    'salary_offered','job_board','geo','cursor','contact_email','contact_phone_number',\
       'uniq_id','html_job_description','post_date']

updated_ds_jobs_pd=ds_jobs_pd
#try:
for item in drops:
    updated_ds_jobs_pd=updated_ds_jobs_pd.drop(f'{item}',1)
    updated_ds_jobs_pd.head()
#except:
        #updated_ds_jobs_pd.head()
updated_ds_jobs_pd.to_csv("cleaned data science jobs.csv")
updated_ds_jobs_pd.head()

,job_title,category,city,state,country,job_description,job_type
ds_key,,,,,,,
0,Enterprise Data Scientist I,Accounting/Finance,Woodland Hills,CA,Usa,Read what people are saying about working here...,Undefined
1,Data Scientist,NaN,Middletown,NJ,Usa,We have an immediate opening for a Sharp Data ...,Undefined
2,Data Scientist,NaN,New York,NY,Usa,Candidates should have the following backgroun...,Full Time
3,"Data Scientist, Aladdin Wealth Tech, Associate...",Accounting/Finance,New York,NY 10055 (Midtown area),Usa,Read what people are saying about working here...,Undefined
4,Senior Data Scientist,biotech,Charlotte,NC,Usa,We are seeking an extraordinary Data Scientist...,Full Time

In [152]:
#Get only Fraud records
#fake_jobs = pd.DataFrame(["fraudulent"],index = ["fraudulent"], columns=["fraudulent"])
if fake_jobs_pd.index.name != 'fraudulent':
   fake_jobs_pd.set_index("fraudulent", inplace = True)
fake_jobs = fake_jobs_pd.loc[1]
fake_jobs

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function
fraudulent,,,,,,,,,,,,,,,,,
1,99,IC&E Technician,"US, , Stocton, CA",Oil & Energy,95000-115000,...,"IC&amp;E Technician | Bakersfield, CA Mt. Poso...","QualificationsKnowledge, Skills &amp; Abilitie...",BENEFITSWhat is offered:Competitive compensati...,0,1,1,Full-time,Mid-Senior level,High School or equivalent,Oil & Energy,Other
1,145,Forward Cap.,NaN,NaN,NaN,NaN,The group has raised a fund for the purchase o...,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN
1,174,Technician Instrument & Controls,US,Power Plant & Energy,NaN,Edison International and Refined Resources hav...,Technician Instrument &amp; ControlsLocation D...,JOB QUALIFICATIONS-Ability to understand proce...,"we are a team of almost 8,000 employees who he...",0,1,1,Full-time,Mid-Senior level,Certification,Electrical/Electronic Manufacturing,Other
1,181,Sales Executive,"PK, SD, Karachi",Sales,NaN,NaN,Sales Executive,Sales Executive,Sales Executive,0,0,0,NaN,NaN,NaN,NaN,Sales
1,216,IC&E Technician Mt Poso,"US, CA, Bakersfield, CA / Mt. Poso",Oil & Energy,95000-115000,...,"IC&amp;E Technician | Bakersfield, CA Mt. Poso...","QualificationsKnowledge, Skills &amp; Abiliti...",BENEFITSWhat is offered:Competitive compensati...,0,1,1,Full-time,Mid-Senior level,High School or equivalent,Oil & Energy,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,17828,Student Positions Part-Time and Full-Time.,"US, CA, Los Angeles",NaN,NaN,NaN,Student Positions Part-Time and Full-Time.You ...,NaN,NaN,0,0,0,Part-time,NaN,NaN,NaN,NaN
1,17829,Sales Associate,"AU, NSW, Sydney",Sales and Marketing,NaN,NaN,LEARN TO EARN AN EXECUTIVE LEVEL INCOMEFULL TR...,What You Can Do. • Have the potential to earn ...,Who We Are We are a Global Leadership Developm...,0,0,1,NaN,NaN,NaN,NaN,NaN
1,17830,Android Developer,"PL, MZ, Warsaw",NaN,NaN,NaN,inFullMobile Sp. z o.o. is a mobile software d...,• A proven track record in Android / JAVA proj...,attractive salary (adequate to the candidate s...,0,0,0,NaN,NaN,NaN,NaN,NaN
1,17831,Payroll Clerk,"US, NY, New York",NaN,NaN,NaN,JOB DESCRIPTIONWe are seeking a full time payr...,JOB REQUIREMENTS• High school diploma or eq...,We offer a competitive salary and benefits pac...,0,0,0,Full-time,NaN,NaN,Apparel & Fashion,Accounting/Auditing
1,17832,Furniture mover,"US, IL, Chicago",NaN,NaN,Anthony Warren is a Marketing and Advertising ...,earn $500 to $1000 a week as a mover. Must ha...,Good liftflexibile schedulegeat attitude,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN

In [13]:
#Create dict to collect word count
word_count = {}
#Count words in fake job postings
for description in fake_jobs['description']:
 for word in str(description).split():
    if word_count.get(word, 0) != 0:
         word_count[word] += 1  
#         print(word_count[word])
    else:
         word_count[word] = 1
#         print(word_count[word])


#Create dataframe
data_items = sorted(word_count.items(), key=lambda kv: kv[1], reverse=True)
data_list = list(data_items)
word_count_pd = pd.DataFrame(data_list,columns=["word","counter"])
print(len(word_count_pd))
#Limit size of words to analyze
word_count_pd.drop(word_count_pd[word_count_pd['word'][:].str.len() < 4].index, inplace = True)
#drop prepositions and other not significant words
word_count_pd.drop(word_count_pd[word_count_pd['word'] == 'with'].index, inplace = True) 
word_count_pd.drop(word_count_pd[word_count_pd['word'] == 'that'].index, inplace = True)
word_count_pd.drop(word_count_pd[word_count_pd['word'] == 'from'].index, inplace = True)
word_count_pd.drop(word_count_pd[word_count_pd['word'] == 'have'].index, inplace = True)
word_count_pd.drop(word_count_pd[word_count_pd['word'] == 'your'].index, inplace = True)
word_count_pd.drop(word_count_pd[word_count_pd['word'] == 'this'].index, inplace = True)
word_count_pd.drop(word_count_pd[word_count_pd['word'] == 'their'].index, inplace = True)
word_count_pd.drop(word_count_pd[word_count_pd['word'] == '&amp;'].index, inplace = True)
word_count_pd.drop(word_count_pd[word_count_pd['word'] == 'will'].index, inplace = True)
word_count_pd.drop(word_count_pd[word_count_pd['word'] == 'This'].index, inplace = True)
word_count_pd.drop(word_count_pd[word_count_pd['word'] == 'more'].index, inplace = True)
word_count_pd.drop(word_count_pd[word_count_pd['word'] == 'into'].index, inplace = True)
word_count_pd.drop(word_count_pd[word_count_pd['word'] == 'also'].index, inplace = True)
#word_count_pd.drop(word_count_pd[word_count_pd['word'] == 'other'].index, inplace = True)
word_count_pd.to_csv("words_in_fake_posting.csv")

#word_count_pd

15547

In [14]:
#Get only Real Posting records
if fake_jobs_pd.index.name != 'fraudulent':
   fake_jobs_pd.set_index("fraudulent", inplace = True)
real_jobs_pd = fake_jobs_pd.loc[0]

In [15]:
#Create dict to collect word count for real job postings
word_count_real = {}
#Count words in fake job postings
for description in real_jobs_pd['description']:
 for word in str(description).split():
    if word_count_real.get(word, 0) != 0:
         word_count_real[word] += 1  
    else:
         word_count_real[word] = 1

#Create dataframe
data_items = sorted(word_count_real.items(), key=lambda kv: kv[1], reverse=True)
data_list = list(data_items)
word_count_real_pd = pd.DataFrame(data_list,columns=["word","counter"])
#Limit size of words to analyze
word_count_real_pd.drop(word_count_real_pd[word_count_real_pd['word'][:].str.len() < 4].index, inplace = True)
#drop prepositions and other not significant words
word_count_real_pd.drop(word_count_real_pd[word_count_real_pd['word'] == 'with'].index, inplace = True) 
word_count_real_pd.drop(word_count_real_pd[word_count_real_pd['word'] == 'that'].index, inplace = True)
word_count_real_pd.drop(word_count_real_pd[word_count_real_pd['word'] == 'from'].index, inplace = True)
word_count_real_pd.drop(word_count_real_pd[word_count_real_pd['word'] == 'have'].index, inplace = True)
word_count_real_pd.drop(word_count_real_pd[word_count_real_pd['word'] == 'your'].index, inplace = True)
word_count_real_pd.drop(word_count_real_pd[word_count_real_pd['word'] == 'this'].index, inplace = True)
word_count_real_pd.drop(word_count_real_pd[word_count_real_pd['word'] == 'their'].index, inplace = True)
word_count_real_pd.drop(word_count_real_pd[word_count_real_pd['word'] == '&amp;'].index, inplace = True)
word_count_real_pd.drop(word_count_real_pd[word_count_real_pd['word'] == 'will'].index, inplace = True)
word_count_real_pd.drop(word_count_real_pd[word_count_real_pd['word'] == 'This'].index, inplace = True)
word_count_real_pd.drop(word_count_real_pd[word_count_real_pd['word'] == 'more'].index, inplace = True)
word_count_real_pd.drop(word_count_real_pd[word_count_real_pd['word'] == 'into'].index, inplace = True)
word_count_real_pd.drop(word_count_real_pd[word_count_real_pd['word'] == 'also'].index, inplace = True)
#word_count_pd.drop(word_count_pd[word_count_pd['word'] == 'other'].index, inplace = True)
type(word_count_real_pd)
#word_count_real_pd.to_csv("words_in_real_posting.csv")

pandas.core.frame.DataFrame

In [16]:
fake_words_to_check = word_count_pd.merge(word_count_real_pd, how = 'outer' ,indicator=True).loc[lambda x : x['_merge']=='left_only']
fake_words_to_check= fake_words_to_check[0:50]
fake_words_to_check['weight']=fake_words_to_check['counter']/fake_words_to_check['counter'].sum()
fake_words_to_check.head()
fake_words_to_check.set_index = ["word"]

In [17]:
#Check possible fake job postings in the Data Science file
#The idea is to sum the % of fake_words_to_check in the description.
#The posting will be considered fake if the sum is over 0.5%
#perc_fake= pd.DataFrame(["Job_title",'city', 'state', 'country',
#                                     'Category','Job_description','job_type'])
perc_fake= pd.DataFrame(["Word"])

#fake_words_to_check = {}
#Count words in Data Science job postings
for description in ds_jobs_pd['job_description']:
 for word in str(description).split():
     if word == 'work':
        print(f"karaka",word)
     if fake_words_to_check.loc(word):

         #perc_fake[word] += fake_words_to_check['weight']
         #perc_fake[word] = "bla"
           print(word)
            
#     print(f"sdfdsf ", perc_fake, fake_words_to_check.get(word,0),word)


#df.loc[df['column_name'] == some_value]
 #if perc_fake[word] > 0.5:
 #       ds_fake_jobs_pd = ds_jobs_pd["Job_title",'city', 'state', 'country',
 #                                    'Category','Job_description','job_type']

ValueError: No axis named Read for object type <class 'pandas.core.frame.DataFrame'>

In [15]:
len(perc_fake)

1